/*
Override the navigation bar defaults
*/
@media (min-width: 500px) {
    .header-sticky {
        position: sticky !important;
    }

    .header-nav {
        flex-direction: row !important;
    }

    .header-content {
        flex-direction: row !important;
        justify-content: space-between !important;
    }

    .header-content-start {
        justify-content: flex-start !important;
    }

    .header-content-end {
        justify-content: flex-end !important;
    }

    .header-nav-item:not(:last-child) {
        margin-inline-end: var(--agnostic-header-nav-spacing, var(--fluid-32)) !important;
        margin-block-end: initial !important;
    }
}